<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCwHfYQluprWZo7-FFU4K1Rtwe75PCME8o</string>
	<key>GCM_SENDER_ID</key>
	<string>160062816775</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.LumaAppReactNative</string>
	<key>PROJECT_ID</key>
	<string>luma-react-native-app</string>
	<key>STORAGE_BUCKET</key>
	<string>luma-react-native-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160062816775:ios:02bd1ab9128e5903e260a2</string>
</dict>
</plist>